html{
    font-family: 'Source Sans Pro', sans-serif;
}

/*HEADER */
header{
    background-color: gray;
    margin: 0;
    padding: 0;
    text-align: right;
    padding-right: 200px;
    height: 6vh;
}
header a{
    display: inline-block;
    margin: 10px;
    color: black ;
    font-size: 20px;
}

/*NAV */
nav{
    
    
}
nav ul{
    height: 40px;
    width: 80%;
    
}
nav li{
    list-style: none;
    display: inline-block;
    text-align: center;
    margin: 20px;
    border-bottom: 2px grey dotted;
    color: grey;
}
nav a{
    text-decoration: none;
   

}
/*INDEX */
.preguntas-dudas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px;
}
.preguntas-dudas div{
    display: grid;
    margin: 20px;
    align-self:flex-start;
}

.preguntas-dudas p{
    font-size: 25px;
    word-spacing: 3px;
    vertical-align:bottom;
}



/*MAIN */

/*SECTION */
.producto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    
}

.producto li{
    list-style: none;
    display: inline;
    
}

.producto img{
    width: 300px;
    height: 400px;
}
/*FOOTER*/


