html{
    font-family: 'Source Sans Pro', sans-serif;
}

/*HEADER */
header{
    background-color: gray;
    margin: 0;
    padding: 0;
    height: 6vh;
}
header p{
    color: black ;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 10px;
}

/*NAV */
nav{
    text-align: center;
    width: 55%;
    margin: auto;
    
}
nav ul{
    height: 40px;
    width: 90%;
    
}
nav li{
    list-style: none;
    display: inline-block;
    text-align: center;
    margin: 10px;    
}
nav a{
    text-decoration: none;
    font-size: 25px;
    color: black;
    text-transform: uppercase;
}
nav a:hover{
    border-bottom: 3px solid gray;
    
    border-radius: 2px;
    transition: all .3s ease 0s;
}
/*INDEX */
.preguntas-dudas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px;
}
.preguntas-dudas div{
    display: grid;
    margin: 20px;
    align-self:flex-start;
    
}

.preguntas-dudas p{
    font-size: 25px;
    word-spacing: 3px;
    vertical-align:bottom;
    font-weight: 300;
}



/*MAIN */

/*SECTION */
.producto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    
}

.producto li{
    list-style: none;
    display: inline;
    
}

.producto img{
    width: 300px;
    height: 400px;
}
/*FOOTER*/



/*Formulario*/
.contacto .form{
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
}

.contacto .form .form-header .form-title{
    font-weight:800;
    font-family: 'Source Sans Pro', 'sans-serif';
    color: #33302d;
    text-align: center;
    padding: 14px 0;
    

}
.contacto .form .form-label{
    display: block;
    color: #33302d;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
}
.contacto .form .form-input, .form-textarea{
    background: rgba(85, 81, 81, 0.671);
    border: none;
    outline: none;
    border-bottom: 2px solid #ad8867;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    font-family: 'Source Sans Pro, sans-serif';
    color: #fff;
}
.form input label{
    border: none;
    outline: none;
    width: 100%;
    margin: 10px;
}
.contacto textarea{
    background: rgba(85, 81, 81, 0.671);
    border: none;
    outline: none;
    border-bottom: 2px solid #c4956c;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
}   

.contacto .form{
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}

.contacto button{
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    outline: none;
    background: #3f3d3b;
    font-size: 16px;
    border: none;
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
    border-radius: 15px;
}  