html{
    font-family: 'Source Sans Pro', sans-serif;
}

/*HEADER */
header{
    background-color: gray;
    margin: 0;
    padding: 0;
    text-align: right;
    padding-right: 200px;
    height: 6vh;
}
header a{
    display: inline-block;
    margin: 10px;
    color: black ;
    font-size: 20px;
}

/*NAV */
nav{
    
    
}
nav ul{
    height: 40px;
    width: 80%;
    
}
nav li{
    list-style: none;
    display: inline-block;
    text-align: center;
    margin: 20px;
    border-bottom: 2px grey dotted;
    color: grey;
}
nav a{
    text-decoration: none;
   

}
/*INDEX */
.preguntas-dudas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px;
}
.preguntas-dudas div{
    display: grid;
    margin: 20px;
    align-self:flex-start;
    
}

.preguntas-dudas p{
    font-size: 25px;
    word-spacing: 3px;
    vertical-align:bottom;
}



/*MAIN */

/*SECTION */
.producto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    
}

.producto li{
    list-style: none;
    display: inline;
    
}

.producto img{
    width: 300px;
    height: 400px;
}
/*FOOTER*/


/*Formulario*/
.contacto .form{
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
}

.contacto .form .form-header .form-title{
    font-weight: normal;
    font-family: 'Source Sans Pro', 'sans-serif';
    color: #ff851b;
    text-align: center;
    padding: 14px 0;
    

}
.contacto .form .form-label{
    display: block;
    color: #ff851b;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
}
.contacto .form .form-input .form-textarea{
    background: rgba(0, 0, 0, .7);
    border: none;
    outline: none;
    border-bottom: 2px solid #ff851b;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    font-family: 'Source Sans Pro, sans-serif';
    color: #fff;



}
.form input label{
    border: none;
    outline: none;
    width: 100%;
    margin: 10px;
}
.contacto textarea{
    background: rgba(0, 0, 0, .7);
    border: none;
    outline: none;
    border-bottom: 2px solid #ff851b;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
}   

.contacto .form{
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}

.contacto button{
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    outline: none;
    background: #ff851b;
    font-size: 16px;
    border: none;
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
    border-radius: 15px;
}